<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard page</title>
  </head>
  <body class="dashboard">
    <br><br>
    <div class=".file-no-save">
      <h2 style="text-align:center;">To upload a CSV file without saving it, upload it here:</h2>
      <%= form_tag '/csv', multipart: true do %>
      <p><%= file_field_tag :file %><p>
      <%= submit_tag "Upload CSV file", :id => 'upload' %>
      <% end %>
      <br><br>
      <h3 style="text-align:center;">After you upload, you can do things like caluclate the average cost per item, if your CSV has items and a cost associated with each item.</h3>
    </div>
    <% if @file_data %>
      <div class="headers">
        <%@headers.each do |header| %>
          <p><%=header%></p>
        <%end%>
      </div>
      <div style="clear:both"></div>

      <div class="table_body">
        <%@file_data.each_with_index do |row, index| %>
          <%row.each do |attr|%>
        <%if index.odd? %>
          <div class="row" style="background-color: rgb(201, 180, 145);">
            <%if !attr.include?('@') && (attr.include?('http') || attr.include?('www.') || attr.include?('.com') || attr.include?('.org')) %>
              <p><a href="<%=attr%>" target="_blank"><%=attr%></a></p>
            <%else%>
              <p><%=attr%></p>
            <%end%>
        <%else%>
            <div class="row" style="background-color: rgb(230, 200, 140);">
              <%if !attr.include?('@') && (attr.include?('http') || attr.include?('www.') || attr.include?('.com') || attr.include?('.org')) %>
                <p><a href="<%=attr%>" target="_blank"><%=attr%></a></p>
              <%else%>
                <p><%=attr%></p>
              <%end%>
            <%end%>
          <%end%>
        </div>
          <div style="clear:both"></div>
        <%end%>
    <%end%>
  </div>

    <br><br>

    <div class=".file-save">
      <h2 style="text-align:center;">To upload a CSV file AND save it to the database (less secure), upload it here:</h2>
      <%= form_tag '/csv2', multipart: true do %>
      <p><%= file_field_tag :file %><p>
      <%= submit_tag "Upload & Save CSV file", :id => 'upload' %>
      <% end %>
    </div>


  </body>
</html>
