<!DOCTYPE html>
<html>
  <head>
    <title>TranzAct</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <nav>
        <% if current_user %>
          <form class="logout" action="/logout" method="get">
            <input type="submit" name="logout-button" value="Logout" id="logout">
          </form>
          <form class="dash2" action="/dashboard" method="get">
            <input type="submit" name="dash-button" value="Dashboard">
          </form>
        <% end %>
      </nav>
      <div style="clear:both"></div>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
